<div class="container-fluid">
  <h1>Actualizar pelicula</h1>
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <form action="">
        <input type="text" class="input-form form-control" name="titulo" required placeholder="Título">
        <input type="text" class="input-form form-control" name="año" required placeholder="Año">
        <input type="text" class="input-form form-control" name="genero" required placeholder="Género">
        <input type="text" class="input-form form-control" name="duracion" required placeholder="Duración">
        <textarea type="text" class="input-form form-control" name="sinopsis" required
                  placeholder="Sinopsis"></textarea>
        <input type="text" class="input-form form-control" name="director" placeholder="Director">
        <input type="text" class="input-form form-control" name="reparto" placeholder="Reparto">
        <div class="container-flex">
          <button class="btn btn-primary" type="submit">Actualizar</button>
        </div>
      </form>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
