<div class="container-fluid container-header">
  <h1 class="fw-bold">Archivo Docker File</h1>
</div>
<div class="container-fuid">
  <div class="row">
    <div class="col-lg-8 text-justify">
      Cada contenedor Docker se inicia con un archivo de texto simple que contiene instrucciones 
      para crear la imagen del contenedor Docker. DockerFile automatiza el proceso de creación de 
      imágenes Docker. Es esencialmente una lista de instrucciones de interfaz de línea de comandos 
      (CLI) que Docker Engine ejecutará para ensamblar la imagen.
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
<div class="container-fuid">
  <div class="row">
    <div class="col-lg-8 text-justify">
      La tecnología Docker hace uso de un archivo especial llamado Dockerfile construido 
      por un conjunto de comandos cuya lista completa puede ser consultada en la documentación 
      oficial de Dockerfile. En la primera parte de esta sección se explicarán algunas directivas 
      básicas para primero comprender la esencia, además de explicar el comando docker build, después 
      en la siguiente subsección se exponen los consejos y buenas prácticas para la escritura profesional 
      de este tipo de archivos. Después se explica el sistema de archivos por capas de las imágenes Docker. 
      Por último se abordan el resto de los comandos de Dockerfile.
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
<div class="container-fuid">
  <div class="row">
    <div class="col-lg-8 text-justify">
      Es un archivo de texto simple con un conjunto de comandos o instrucciones. 
      Estos comandos / instrucciones se ejecutan sucesivamente para realizar acciones 
      en la imagen base para crear una nueva imagen de la ventana acoplable.
      <div class="container-fluid">
        <h6 class="fw-bold">comentarios y comandos   +   argumentos son dos tipos de bloques de línea principal en la sintaxis</h6>
      </div>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>