<div class="container-fluid container-header">
  <h1 class="fw-bold">Contenedores</h1>
</div>
<div class="container-fuid">
  <div class="row">
    <div class="col-lg-8 text-justify">
      Los contenedores Docker son las instancias activas en ejecución de imágenes Docker. 
      Mientras que las imágenes Docker son archivos de sólo lectura, los contenedores son 
      contenido en vivo, efímero y ejecutable. Los usuarios pueden interactuar con ellos, 
      y los administradores pueden ajustar sus valores y condiciones utilizando comandos Docker.
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
<div class="container-fuid">
  <div class="row">
    <div class="col-lg-8 text-justify">
      Contenedores son posibles gracias al aislamiento de procesos y a las capacidades de 
      virtualización integradas en el kernel de Linux. Estas funcionalidades, como grupos 
      de control (Cgroups) para asignar recursos entre procesos, y espacios de nombres para 
      restringir un acceso de procesos o visibilidad a otros recursos o áreas del sistema, 
      habilitan varios componentes de aplicación para compartir los recursos de una sola instancia 
      del sistema operativo de host de la misma forma que un hipervisor permite que varias máquinas 
      virtuales (VM) compartan la CPU, la memoria y otros recursos de un único servidor de hardware.
    </div>
    <div class="col-lg-4 card-body container-flex-center">
      <img
        src="https://guiadev.com/imagenes//2016/04/docker-contenedores.jpg"
        alt="">
    </div>
  </div>
</div>
<div class="container-fuid">
  <div class="row">
    <div class="col-lg-8 text-justify">
      Como resultado, la tecnología de contenedor ofrece toda la funcionalidad y 
      beneficios de las máquinas virtuales, incluyendo aislamiento de aplicaciones, 
      escalabilidad rentable y capacidad de disposición.
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>