	
	<div class="container-fluid">
		<div class="row">
			<div class="cold-lg-6"></div>
			<div class="cold-lg-6"></div>
		</div>

		<div class="row">
			<div class="cold-lg-6"></div>
			<div class="cold-lg-6"></div>
		</div>

		<div class="row">
			<div class="cold-lg-6"></div>
			<div class="cold-lg-6"></div>
		</div>

		<div class="row">
			<div class="cold-lg-6"></div>
			<div class="cold-lg-6"></div>
		</div>

		<div class="row">
			<div class="cold-lg-6"></div>
			<div class="cold-lg-6"></div>
		</div>

		<div class="row">
			<div class="cold-lg-6"></div>
			<div class="cold-lg-6"></div>
		</div>
	</div>