<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
  <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

  <nav class="navbar bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">INGENIERÍA DE SOFTWARE II</span>
    </div>
  </nav>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">API REST</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        Docker
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">Introducción Docker</a></li>
        <li><a class="dropdown-item" href="#">Imágenes Docker</a></li>
        <li><a class="dropdown-item" href="#">Contenedores</a></li>
        <li><a class="dropdown-item" href="#">Archivo Docker File</a></li>
        <li><a class="dropdown-item" href="#">Directivas Docker File</a></li>
        <li><a class="dropdown-item" href="#">Ciclo de Vida de los Contenedores</a></li>
      </ul>
    </li>
  </ul>

  <nav class="navbar bg-light">
    <div class="container-fluid">
      <span class="navbar-text">
        Antecedente El Palacio de Bellas Artes tiene como antecedente inmediato al edificio que albergaba al antiguo
        Teatro Nacional, considerado el más importante en su género en la vida artística y cultural de nuestro país
        durante la segunda mitad del siglo xix. Al iniciarse el siglo xx, como parte del programa de obras
        arquitectónicas con las que se estaba embelleciendo a la Ciudad de México, se pensó primero en renovarlo, pero
        se optó por demolerlo para construir otro, acorde al crecimiento urbano y cultural de la Ciudad. La ubicación
        del nuevo teatro fue objeto de un minucioso estudio tanto por parte de las autoridades como por su arquitecto,
        el italiano Adamo Boari. Finalmente, en 1901 ya se había decidido que se situaría a un costado de la Alameda
        Central.
      </span>
    </div>
  </nav>

  {{{body}}}

</body>

</html>