<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
  <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

  <nav class="navbar bg-light">
    <div class="container-fluid">
      <a href="/">
        INGENIERÍA DE SOFTWARE II
      </a>
    </div>
  </nav>
  <ul class="nav justify-content-center">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        Docker
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/introDocker">Introducción Docker</a></li>
        <li><a class="dropdown-item" href="/imgDocker">Imágenes Docker</a></li>
        <li><a class="dropdown-item" href="/contenedor">Contenedores</a></li>
        <li><a class="dropdown-item" href="/archiDocker">Archivo Docker File</a></li>
        <li><a class="dropdown-item" href="/direcDocker">Directivas Docker File</a></li>
        <li><a class="dropdown-item" href="/vidaContenedor">Ciclo de Vida de los Contenedores</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">API REST</a>
    </li>
  </ul>

  {{{body}}}

</body>

</html>