<div class="container-fluid container-header">
  <h1 class="fw-bold">Introducción Docker</h1>
</div>
<div class="container-fuid">
  <div class="row">
    <div class="col-lg-8 text-justify">
      Docker es una plataforma de software que permite crear, probar e implementar aplicaciones 
      rápidamente. Docker empaqueta software en unidades estandarizadas llamadas contenedores que 
      incluyen todo lo necesario para que el software se ejecute, incluidas bibliotecas, herramientas 
      de sistema, código y tiempo de ejecución. Con Docker, puede implementar y ajustar la escala de 
      aplicaciones rápidamente en cualquier entorno con la certeza de saber que su código se ejecutará.
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
<div class="container-fuid">
  <div class="row">
    <div class="col-lg-8 text-justify">
      La tecnología Docker utiliza el kernel de Linux y sus funciones, como los grupos de control y 
      los espacios de nombre, para dividir los procesos y ejecutarlos de manera independiente. El 
      propósito de los contenedores es ejecutar varios procesos y aplicaciones por separado para 
      que se pueda aprovechar mejor la infraestructura y, al mismo tiempo, conservar la seguridad 
      que se obtendría con los sistemas individuales.
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
<div class="container-fuid">
  <div class="row">
    <div class="col-lg-8 text-justify">
      Las herramientas de contenedores, como Docker, proporcionan un modelo de implementación 
      basado en imágenes, que permite compartir una aplicación o un conjunto de servicios con 
      todas sus dependencias en varios entornos. Docker también automatiza la implementación de 
      las aplicaciones (o los conjuntos de procesos que las constituyen) en el entorno de contenedores.
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
<div class="container-fuid">
  <div class="row">
    <div class="col-lg-8 text-justify">
      Estas herramientas están diseñadas a partir de los contenedores de Linux, por eso la 
      tecnología Docker es sencilla y única. Además, ofrecen a los usuarios acceso sin precedentes 
      a las aplicaciones, la posibilidad de realizar implementaciones en poco tiempo y el control 
      sobre las versiones y su distribución.
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
<div class="container-fuid">
  <div class="row">
    <div class="col-lg-8 text-justify">
      Docker es una plataforma de código abierto para crear, implementar y gestionar 
      aplicaciones en múltiples contenedores: componentes ejecutables estandarizados que 
      combinan el código fuente de la aplicación con las bibliotecas del sistema operativo 
      y las dependencias necesarias para ejecutar dicho código en cualquier entorno. Los 
      contenedores simplifican la entrega de aplicaciones distribuidas y se han vuelto cada 
      vez más populares a medida que las organizaciones cambian al desarrollo nativo de la nube 
      y entornos híbridos multinube.
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
<div class="container-fuid">
  <div class="row">
    <div class="col-lg-8 text-justify">
      Es esencialmente un kit de herramientas que permite a los desarrolladores crear, 
      implementar, ejecutar, actualizar y detener contenedores utilizando comandos simples 
      y automatización que ahorra trabajo a través de una única API.
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>