<div class="container-fluid">
    <span class="navbar-text">
        <p class="fw-bold">Cliclo de Vida de los Contenedores</p>
        Antecedente El Palacio de Bellas Artes tiene como antecedente inmediato al edificio que albergaba al antiguo
        Teatro Nacional, considerado el más importante en su género en la vida artística y cultural de nuestro país
        durante la segunda mitad del siglo xix. Al iniciarse el siglo xx, como parte del programa de obras
        arquitectónicas con las que se estaba embelleciendo a la Ciudad de México, se pensó primero en renovarlo, pero
        se optó por demolerlo para construir otro, acorde al crecimiento urbano y cultural de la Ciudad. La ubicación
        del nuevo teatro fue objeto de un minucioso estudio tanto por parte de las autoridades como por su arquitecto,
        el italiano Adamo Boari. Finalmente, en 1901 ya se había decidido que se situaría a un costado de la Alameda
        Central.
    </span>
</div>