<div class="container-fluid">
  <h1>Agregar pelicula</h1>
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <form action="">
        <input type="text" class="input-form form-control" name="id" required placeholder="id">
        <input type="text" class="input-form form-control" name="titulo" required placeholder="titulo">
        <input type="date" class="input-form form-control" name="año" required placeholder="año">
        <input type="text" class="input-form form-control" name="genero" required placeholder="genero">
        <input type="text" class="input-form form-control" name="duracion" required placeholder="duracion">
        <textarea type="text" class="input-form form-control" name="sinopsis" required placeholder="sinopsis"></textarea>
        <input type="text" class="input-form form-control" name="director"  placeholder="director">
        <input type="text" class="input-form form-control" name="reparto"  placeholder="reparto">
        <div class="container-flex">
          <button class="btn btn-primary" type="submit">Agregar</button>
        </div>
      </form>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
