<div class="container-fluid">
  <h1>Agregar Película</h1>
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <form action="http://localhost:4200" method="post">
        <input type="text" class="input-form form-control" name="_id" [(ngModel)]="pelicula._id" required
               placeholder="Id">
        <input type="text" class="input-form form-control" name="titulo" [(ngModel)]="pelicula.titulo" required
               placeholder="Título">
        <input type="text" class="input-form form-control" name="año" [(ngModel)]="pelicula.anno" required
               placeholder="Año">
        <input type="text" class="input-form form-control" name="genero" [(ngModel)]="pelicula.genero" required
               placeholder="Género">
        <input type="text" class="input-form form-control" name="duracion" [(ngModel)]="pelicula.duracion" required
               placeholder="Duración">
        <textarea type="text" class="input-form form-control" name="sinopsis" [(ngModel)]="pelicula.sinopsis" required
                  placeholder="Sinopsis"></textarea>
        <input type="text" class="input-form form-control" name="director" [(ngModel)]="pelicula.director"
               placeholder="Director">
        <input type="text" class="input-form form-control" name="reparto" [(ngModel)]="pelicula.reparto"
               placeholder="Reparto">
        <div class="container-flex">
          <button class="btn btn-danger" (click)="cancelar()">Cancelar</button>
          <button class="btn btn-primary" (click)="agregarPelicula()">Agregar</button>
        </div>
      </form>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
